<div class="row">
    <div class="col-sm-12">
        <p class="lead">
            Baal Pratibha is a kids talent competition in Sydeny, organized by Lahuri TV and Nepalese Australian Youth Association.
        </p>
    </div>
</div>
