<div class="row">
    <div class="col-sm-12">
        <h3>Baal Pratibha: Grand Finale</h3>
        <p>
            The finals for Baal Pratibha will be held at Ashfield Polish Club, Ashfield on 18th September 2016. Contact us for more details.
            The format of the finals for contestants will be as follows.
            <ul>
                <li>Each contestant needs to be prepared for 2 performances.</li>
                <li>10 contestant will be selected to the next round of the finals.</li>
                <li>Final judgement will be based on online voting, <em>onsite </em>voting and judges marking.</li>
                <li><strong>Online voting will only help you to get to the Top 10 along with Judge's points. It wont solely help you become the winner</strong></li>
                <li>Winner will get <strong>$1000 & Trophy</strong></li>
                <li>First Runner up will receive <strong>$500 and Trophy</strong></li>
                <li>Second Runner up will receive <strong>$200 and Trophy</strong></li>
            </ul>

        </p>
        <p>All the very best</p>

    </div>
</div>
