<div class="row">
    <div class="col-sm-12">
        <p class="lead">
            The ranking of a participant depends on two things:
            <ol>
                <li class="lead">
                    Total Votes (50 % weight)
                </li>

                <li class="lead">
                    Total Shares (50 % weight)
                </li>
            </ol>
            So for example if a contestant has 40 Total Votes and 120 Total Shares his/her total weight will be (20 + 60) =  80. Ranking will be done on that basis.
        </p>
        <p>
            <h3>Total Votes</h3>
            Total votes is the total number of votes recieved by a contestant. One voter can vote only one contestant at a time. The voter must have a valid email address to vote. If the same voter votes again to some other contestant the vote will be transferred to the new contestant from the previous one.
        </p>
        <p>
            <h3>Total Shares</h3>
            Total shares is the sum total number of likes,comments and shares to Facebook recieved by the contestant profile. Any one can share a contestants profile. This also counts the shares/likes/comments that are done indirectly within the Facebook. Tha means if you share the contestants profile from someone else's timeline, that will also be counted in the total shares. Therefore it is not necessary that you must share the contestant profile from within this page.
        </p>
    </div>

</div>