@using BaalPratibha.Logic
@using BaalPratibha.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.Razor
@model ContestantView
@inject ImageProcessing ImageProcessing;

@if (Model != null)
{
    <a href="~/@Model.UserName">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-success pull-right">VOTE</button>
                    <h4>
                        @Model.FullName
                    <br />
                    <small>@Model.TotalVotes Votes</small>
                </h4>

            </div>
            <div class="panel-body">
                @await Html.PartialAsync("_ContestantPhotoHolder", new BaalPratibha.Models.ViewModels.ProfileImageViewModel() { UserId = Model.Id, ImageCssClass = "img-rounded", Height = "250px", Width = "inherit" })
                <div class="clearfix"></div>
                <div>Age: @Model.Age</div>
                <div> @Model.Suburb</div>
            </div>
        </div>
    </div>
</a>

}